#!/bin/bash

export NODE_OPTIONS=--openssl-legacy-provider

# Celo Testnet
export CELO_TESTNET_PRIVATE_KEY="0x9999999999999999999999999999999999999999"
export CELO_TESTNET_ENDPOINT_URL="https://alfajores-forno.celo-testnet.org"
export CELO_DUMMY_ADDRESS="0x9999999999999999999999999999999999999999"
export CELO_NATIVE_CURRENCY_LABEL="CELO"
export CELO_OWNER_ADDRESS="0x476E2651BF97dE8a26e4A05a9c8e00A6EFa1390c"

# Start the deployment script with the needed parameters
echo node dist/index.js --private-key $CELO_TESTNET_PRIVATE_KEY --json-rpc $CELO_TESTNET_ENDPOINT_URL --weth9-address $CELO_DUMMY_ADDRESS --native-currency-label $CELO_NATIVE_CURRENCY_LABEL --owner-address $CELO_OWNER_ADDRESS

# Ethereum Goerli Testnet
# GOERLI_TESTNET_ENDPOINT_URL="88888"
# GOERLI_TESTNET_PRIVATE_KEY="3418c5713b78b39366f38c8364ac63f363e16352dc4c9687fa6576fc1685ea50"
# GOERLI_ETHERSCAN_API_KEY="88888"

# Optimism Goerli Testnet
# OPTIMISM_TESTNET_ENDPOINT_URL="88888"
# OPTIMISM_TESTNET_PRIVATE_KEY="3418c5713b78b39366f38c8364ac63f363e16352dc4c9687fa6576fc1685ea50"
# OPTIMISM_ETHERSCAN_API_KEY="88888"

# Optimism Mainnet
# OPTIMISM_MAINNET_ENDPOINT_URL="88888"
# OPTIMISM_MAINNET_PRIVATE_KEY="3418c5713b78b39366f38c8364ac63f363e16352dc4c9687fa6576fc1685ea50"

# Arbitrum Goerli Testnet
# ARBITRUM_TESTNET_PRIVATE_KEY="3418c5713b78b39366f38c8364ac63f363e16352dc4c9687fa6576fc1685ea50"
# ARBITRUM_TESTNET_ENDPOINT_URL="88888"
# ARBITRUM_ETHERSCAN_API_KEY="88888"

# Web3.Storage API key
# WEB3STORAGE_TOKEN="88888"
